.contacts {
  pointer-events: all;

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 48px;

    @include on-tablet {
      grid-template-columns: repeat(6, 1fr);
      row-gap: 80px;
    }

    @include on-desktop {
      @include grid-columns;
    }
  }
}
